name: Jekyll Feed Tests

'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch: null

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Ruby
        uses: ruby/setup-ruby@v1.172.0
        with:
          ruby-version: '3.2'
          bundler-cache: true

      - name: Install Dependencies
        run: bundler install

      - name: Check Feeds
        run: bundle exec ruby tests/feedcheck.rb

      - name: Save Job Summary
        if: failure()
        run: cat error-summary.md >> $GITHUB_STEP_SUMMARY
