name: Rubocop Linting

on:
    push:
        paths:
            - '**.rb'
            - .github/workflows/rubocop.yml
            - Gemfile
            - Gemfile.lock
    pull_request:
        paths:
            - '**.rb'
            - .github/workflows/rubocop.yml
            - Gemfile
            - Gemfile.lock
    workflow_dispatch:

permissions: read-all

jobs:
    rubocop:
        runs-on: ubuntu-latest

        permissions:
            security-events: write

        steps:
            - name: Checkout repository
              uses: actions/checkout@v5

            - name: Install Ruby
              uses: ruby/setup-ruby@v1.266.0
              with:
                ruby-version: 3.2.9
                bundler-cache: true

            - name: Install dependencies
              run: bundle install

            - name: Rubocop generate sarif file
              run: |
                bash -c "
                    bundle exec rubocop --require code_scanning --format CodeScanning::SarifFormatter -o rubocop.sarif
                    [[ $? -ne 2 ]]
                "

            - name: Upload Sarif output
              uses: github/codeql-action/upload-sarif@v4
              with:
                  sarif_file: rubocop.sarif

            - name: Rubocop pass/fail
              run: |
                bash -c "
                    bundle exec rubocop
                    [[ $? -ne 2 ]]
                "
